.dropdown-toggle-btn {
  &:active {
    background-color: transparent !important;
  }
}

.nav-link {
  padding: 11px 50px;
  color: rgb(102, 102, 102);
  &:hover {
    color: rgb(178, 178, 178);
  }
  &.active {
    color: var(--primary);
  }
}
.login-btn {
  padding: 12px;
  width: 174px;
}

.custom-btn {
  height: 48px;
  font-weight: bold;
}
