.buy-section {
  background-image: url(https://gameplus.com.tr/assets/images/nvidia-buy-now-bg.webp);
  padding-bottom: 23px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60px center;
}
