$secondary: rgb(102, 102, 102);
$primary: rgb(118, 185, 0);
$light: rgb(178, 178, 178);
$warning: rgb(255, 201, 0);
$dark: #0d0d0d;
$accordion-color: transparent;
$accordion-bg: transparent;
$accordion-button-color: transparent;
$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color: white;
$accordion-icon-color: white;
$accordion-icon-active-color: white;
$accordion-button-focus-border-color: transparent;
$accordion-button-focus-box-shadow: transparent;
$input-bg: #0d0d0d;
$dropdown-link-active-bg: transparent;
