.accordion-item {
  border: none;
  border-bottom: 1px solid #3c3c3c;
  margin: 0 20px;
  button {
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
  }
}
