.lib-section {
  background-image: url("https://gameplus.com.tr/assets/images/download-promo-desktop.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.geforce-lib-section {
  background-image: url("https://gameplus.com.tr/static/media/play-now.601eb62d.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
