.what-is-geforce {
  padding: 100px 48px;
  background-image: url("https://gameplus.com.tr/static/media/hero.68ac7195.webp");
  background-repeat: no-repeat;
  background-size: cover;
  .text-content {
    max-width: 344px;
    h2 {
      padding-bottom: 0;
    }
  }
}
